	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/css/cart.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="/css/custom.css">

	<!-- Modernizer js -->
	<script src="public/vendor/modernizr-3.5.0.min.js"></script>
{{#with cart}}
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <form action="#">               
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Title</th>
                                    <th class="product-author">Author</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-publishYear">Publish Year</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each items}}
                                <tr>
                                    <td class="product-thumbnail"><a href="#"></a><img src="{{item.thumbnailPath}}" alt="product img"></a></td>
                                    <td class="product-name"><a href="#">{{item.title}}</a></td>
                                    <td class="product-author"><span class="author">{{item.author}}</span></td>
                                    <td class="product-quantity"><input type="number" value="{{quantity}}"></td>
                                    <td class="product-publishYear">{{item.publishYear}}</td>
                                    <td class="product-remove"><a href="#">X</a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </form> 
                <div class="cartbox__btn">
                    <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">

                        <li><a href="#">Update Cart</a></li>
                        <li><a href="#">Check Out</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>  
</div>
{{/with}}
<!-- JS Files -->
	<script src="public/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="public/js/popper.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script src="public/js/plugins.js"></script>
	<script src="public/js/active.js"></script>