	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/css/cart.css" type="text/css">


	<!-- Cusom css -->
   <link rel="stylesheet" href="/css/custom.css">

	<!-- Modernizer js -->
	<script src="public/vendor/modernizr-3.5.0.min.js"></script>
{{#with cart}}
<div class="cart-main-area section-padding--lg bg--white" style="min-height:520px ;">
    <div class="container">
        <div class="row" id="cart-body">
            {{#if items.length}}
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <form action="#">               
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Hình cảnh</th>
                                    <th class="product-name">Tên sách</th>
                                    <th class="product-author">Tác giả</th>
                                    <th class="product-quantity">Có sẵn</th>
                                    <th class="product-publishYear">Năm xuất bản</th>
                                    <th class="product-remove">Xoá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script>
                                    let data= [];
                                </script>
                                {{#each items}}
                                <tr id="item{{item.id}}">
                                    <td class="product-thumbnail"><a href="#"></a><img src="{{item.thumbnailPath}}" alt="product img"></a></td>
                                    <td class="product-name"><a href="#">{{item.title}}</a></td>
                                    <td class="product-author"><span class="author">{{item.author}}</span></td>
                                    <td class="product-quatity"> <span >{{item.amount}}</span></td>
                                    <td class="product-publishYear">{{item.publishYear}}</td>
                                    <td class="product-remove"><a role="button" onclick="removeCartItem({{item.id}})">X</a></td>
                                </tr>
                                <script>
                                    data.push("{{item.id}}");
                                </script>
                                {{/each}}
                                
                            </tbody>
                        </table>
                    </div>
                </form> 
                <div class="cartbox__btn">
                    <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">

                        <li><a class="button bg-danger text-white" onclick="clearCart()">Xoá giỏ hàng</a></li>
                        <li><a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Đặt</a></li>
                    </ul>
                </div>
                <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                           <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">

                        <!-- Form -->
                        <form class="text-center" style="color: #757575;" action="cart/sendRequest" method="POST">
                            <input type="text" name="id1" id="id1">
                            <input type="text" name="id2" id="id2">
                            <input type="text" name="id3" id="id3">
                            <script>
                                $('#id1').val(data[0]);
                                $('#id2').val(data[1]);
                                $('#id3').val(data[2]);
                                $('#id1').hide();
                                $('#id2').hide();
                                $('#id3').hide();
                            </script>
                        
                            {{!-- Date --}}
                           
                <div class="container">
                    <div class="row">
                    <div class="form-group">
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date" id="datePicker">
                                <input type="text" class="form-control" name="date" style="width: 200px" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>


                    </div>
                </div>
         
                            <!-- Send button -->
                            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" style="width: 100px;" type="submit" value="submit">Send</button>

                        </form>
                        <!-- Form -->
                        </div>
                </div>
                </div>
                
            </div>
            {{else}}
            <div class="alert alert-info text-center">Your cart is empty</div>
            {{/if}}
        </div>

    </div>  
</div>
{{/with}}
<!-- JS Files -->
	<script src="/js/vendor/jquery-3.2.1.min.js"></script>  
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/active.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
        <script>
    $(document).ready(function() {
        $('#datePicker')
            .datepicker({
                format: 'mm/dd/yyyy'
            })
            .on('changeDate', function(e) {
                // Revalidate the date field
                $('#eventForm').formValidation('revalidateField', 'date');
            });

        $('#eventForm').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'The name is required'
                        }
                    }
                },
                date: {
                    validators: {
                        notEmpty: {
                            message: 'The date is required'
                        },
                        date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'
                        }
                    }
                }
            }
        });
    });
    </script>